.about{
    width: 100%;
    margin: 3em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    padding-top: 2rem;
    

}

.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 700px;
}

.about .left p{
    margin: 1.2rem 0;
    text-align: justify;
}

.about .right{
    max-width: 900px;
}

.img{
    border-radius: 5%;
}

.right .img-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    text-align: center;
}




